<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% seo %}
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/vendor/css/materialize.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.7/webcomponents-lite.min.js"></script>
  <link rel="import" href="{{site.baseurl}}/vendor/icons/social-media-icons.html">
</head>
<body>
  <header>
    <div class="navbar-fixed">
      <nav class="shadow white">
        <div class="nav-wrapper">
          <div class="content container">
            <ul class="right hide-on-med-and-down">
              <li><a href="https://github.com/mfountoulakis"><social-media-icons icon="github" color="#ffa726" size="25"></social-media-icons></a></li>
              <li><a href="https://www.linkedin.com/in/manos-fountoulakis-8bb38849?trk=nav_responsive_tab_profile_pic"><social-media-icons icon="linkedin" color="#ffa726" size="25"></social-media-icons></a></li>
              <li><a href="https://open.spotify.com/user/cheeseontoasty"><social-media-icons icon="spotify" color="#ffa726" size="25"></social-media-icons></a></li>
            </ul>
            <ul>
              <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{site.baseurl}}/">Home</a></li>
              <li {% if page.url == "/blog.html" %}class="active"{% endif %}><a href="{{site.baseurl}}/blog.html">Archive</a></li>
              <li {% if page.url == "/about.html" %}class="active"{% endif %}><a href="{{site.baseurl}}/about.html">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- <div class="content container"> -->
  <main>
  {{ content }}
  </main>
  <!-- </div> -->
  <footer class="page-footer orange lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sitemap</h5>
          <p class="grey-text text-lighten-4">mmmmmmm nothing here yet. Check back later.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <!-- <h5 class="white-text">Links</h5> -->
          <ul>
            <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        All content copyright manos © 2016 Copyright Text
      </div>
    </div>
  </footer>
</body>
</html>
